<!-- Acerca de-->
<div id="a-objetivo" class="card mat-card">
  <div class="card-titles">
    <h2>{{ titulo }}</h2>
    <!-- Btn_edit -->
    <app-btn-edit  
      *ngIf="isAdmin" [set_link]="id" data-bs-toggle="modal" data-bs-target="#editAcerca" (click)="crea()">
    </app-btn-edit>
    <!-- Modal   -->
    <div class="modal fade" id="editAcerca" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editar Acerca de: </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <textarea 
                class="form-control" id="edit-acercade" type="text" rows="10" 
                [formControl]="inp_acercade">
              </textarea>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancelar()">Cancelar</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="save(List[0])">Guardar Cambios</button>
          </div>
        </div>
      </div>
    </div>
    <!--Muestra Informacion AcercaDe-->
    <div><p id="objetivo">{{ List[0].objetivo }}</p></div>
  </div>
</div>