<!-- Acerca de-->
<div id="a-objetivo" class="card mat-card">
  <div class="card-titles">
    <h2>Acerca de</h2>
    <!-- Btn_edit -->
    <app-btn-edit
      [set_link]="id"
      (set_inpvisible)="mostrar($event)"
      btnColor="lightblue"
      texto="EDITAR"
    ></app-btn-edit>
  </div>
  <div>
    <p id="objetivo">{{ miPorfolio[0].objetivo }}</p>
  </div>
  <div>
    
    <form 
      [formGroup]="form"
      *ngIf="inp_visible"
    >
      <input
        id="edit-acercade"
        type="text"
        placeholder="Objetivo"
        formControlName="inp_acercade"
        [(ngModel)]="miPorfolio[0].objetivo"
      />
      <button
       
        id="guarda_Experiencia"
        
        (click)="guardar(miPorfolio[0])"
      >Guardar Cambios
      </button>
    </form>

    


  </div>
</div>

<!-- 

<ul>
  <li *ngFor="let lista of arrayDatos">
      <p>el valor{{lista}}</p>
  </li>
  <li [ngSwitch]="evaluacion">
      <p *ngSwitchCase="1">Opcion 1</p>
      <p *ngSwitchCase="2">Opcion 2</p>
      <p *ngSwitchDefault>Parrafo por fefault</p>
  </li>
  <li>
    <div *ngIf="revelar_identidad;then no_secreto else secreto"></div>
    <ng-template #secreto><p>¿Quien es IronMan?...</p></ng-template>
    <ng-template #no_secreto><p>{{ironman}}</p></ng-template>
  </li>
  
</ul>
-->
