<li class="card mat-card bor">
  <div class="container">
    <div class="d-grid gap-2 d-flex justify-content-md-end">
      <!-- BTN EDITAR... -->
      <app-btn-edit *ngIf="isAdmin" [set_link]="obj_pro.id" (click)="openModal()"></app-btn-edit>
      
      <!-- BTN BORRAR... -->
      <app-btn-delete *ngIf="isAdmin" (click)="tranferIdDelete(obj_pro)"></app-btn-delete>
    </div>

    <!-- LISTA MODULOS (Imprime) -->
    <div class="data-container">
      <div class="list-info" style="display: inline; text-align: center">
        <div><h3>{{ obj_pro.titulo }}</h3></div>
        <div><p>{{ obj_pro.fecha }}</p></div>
        <div><p>{{ obj_pro.descripcion }}</p></div>
        <div><a href="">{{ obj_pro.link }}</a></div>
      </div>
      <div class="logo-image-container">
        <div><img [src]="obj_pro.logo" alt="proyecto1"/></div>
      </div>
    </div>

    <!--FORMULARIO MODAL Editar... -->
    <app-proyecto-form
      *ngIf="modalSwitch"
      [form_titulo]="titulo"
      [obj_in]="obj_pro" 
      (obj_out)="guardar($event)">
    </app-proyecto-form>
  </div>
</li>
