<li class="card mat-card bor">
  <div class="container">
  <!-- Btn_edit -->
  <app-btn-edit
    [set_link]="obj_pro.id"
    (set_inpvisible)="mostrar($event)"
  ></app-btn-edit>

  <!-- Btn_delete -->
  <button [ngStyle]="{ color: 'red' }" (click)="onDelete(obj_pro)">
    <i class="fa-solid fa-rectangle-xmark"></i>
  </button>

  <div class="data-container">
    <form [formGroup]="form">
      <div class="list-info" style="display: inline; text-align: center">
        <div>
          <h3>{{ obj_pro.titulo }}</h3>
          <input
              *ngIf="inp_visible"
              type="text"
              placeholder="Titulo"
              formControlName="inptitulo"
              [(ngModel)]="obj_pro.titulo"
            />
        </div>
        <div>
          <p>{{ obj_pro.fecha }}</p>
          <input
              *ngIf="inp_visible"
              type="text"
              placeholder="Fecha"
              formControlName="inpfecha"
              [(ngModel)]="obj_pro.fecha"
            />
        </div>
        <div>
          <p>{{ obj_pro.descripcion }}</p>
          <input
              *ngIf="inp_visible"
              type="text"
              placeholder="Descripcion"
              formControlName="inpdescripcion"
              [(ngModel)]="obj_pro.descripcion"
            />
        </div>
        <div>
          <a href="">{{ obj_pro.link }}</a>
          <input
              *ngIf="inp_visible"
              type="text"
              placeholder="Link"
              formControlName="inplink"
              [(ngModel)]="obj_pro.link"
            />
        </div>
      </div>
      <div class="logo-image-container">
        <img [src]="obj_pro.logo" alt="proyecto1" />
        <input
          type="file"
          id="file1"
        />
      </div>
      <button
          *ngIf="inp_visible"
          id="guarda_Proyecto"
          (click)="guardar(obj_pro)"
        >
          Guardar Cambios
        </button>
    </form>
  </div>
</div>
</li>
