<div class="card mat-card" id="first-card">
  <!-- Banner -->
  <div id="profile-background"><img id="banner_perfil" [src]="List[0].banner" alt="banner" /></div>
    <!-- Bloque (Foto + Info_Personal) -->
    <div id="info" style="padding: 16px">
      <!--Muestra Foto Perfil-->
      <app-perfil-foto *ngFor="let item of List" [obj_perfil]="item"></app-perfil-foto>
      <!-- Btn_edit -->
      <app-btn-edit 
        *ngIf="isAdmin" [set_link]="id" data-bs-toggle="modal" 
        data-bs-target="#editPerfil" (click)="crea()">
      </app-btn-edit>
    <!--Muestra Informacion Perfil-->
    <div id="info-data">
      <div>
        <div><h1 id="Nombre">{{ List[0].nombre }}</h1></div>
        <div id="Info-company">{{ List[0].compania }}</div>
        <div id="info-contact">
          <p id="residencia">{{ List[0].residencia }}</p>
          <p>{{ List[0].email }}</p>
        </div>
      </div>
    </div>
    <!--Modal-->
    <div class="modal fade" id="editPerfil" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel1">Editar Perfil:</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <app-subir-archivo (getLogo)="guardarLogo($event)"></app-subir-archivo>
              <input type="hidden" class="form-control" id="edit-foto" [formControl]="inp_foto" [ngModel]="varLogo">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="edit-nombre" [formControl]="inp_nombre"  />
                <label for="edit-nombre">Nombre y Apellido: </label>
              </div>
              <div class="form-floating mb-3">
                <input id="edit-company" type="text" class="form-control" [formControl]="inp_compania"  />
                <label for="edit-company">Compania: </label>
              </div>
              <div class="form-floating mb-3">
                <input id="edit-residencia" type="text" class="form-control" [formControl]="inp_residencia"  />
                <label for="edit-residencia">Residencia: </label>
              </div>
              <div class="form-floating mb-3">
                <input id="edit-email" type="text" class="form-control" [formControl]="inp_email"  />
                <label for="edit-email">Email: </label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancelar()">Cancelar </button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="save(List[0])">Guardar Cambios</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
