<!--
<div *ngIf="isLogeed; else loggedOut"><h2>Bienvenido {{nombre}}</h2></div>
<ng-template #loggedOut><h2>No has iniciado sesión</h2></ng-template>
-->
<app-header></app-header>
<!--
<div *ngIf="isLogeed; else loggedOut"><h2>Bienvenido {{nombre}}</h2></div>
<ng-template #loggedOut><h2>No has iniciado sesión</h2></ng-template>
-->

<div *ngIf="!isLogeed" class="bor" id="div-login">
    <h2>Para ver Porfolio</h2>
    <p>1-Click en "Login"</p>
    <p>2-Click en "Iniciar Sesión"</p>
</div>

<app-body *ngIf="isLogeed"></app-body>

