<!-- Licencias y certificaciones-->
<div class="card mat-card">
  <div id="Licencias">
    <div class="card-titles">
      <h2>{{ titulo }}</h2>
      <app-btn-add
        text="{{ showAddCert ? 'Close' : 'Add' }}"
        color="{{ showAddCert ? 'red' : 'green' }}"
        (btnClick)="toggleAddCert()"
      >
      </app-btn-add>
    </div>
    
    <app-add-certificacion
      (onAddCert)="addCert($event)"
    ></app-add-certificacion>

    <div>
      <ul id="ulLic" class="items-list">
        <!-- Modulo Certificacion-->
        <app-certificacion-modulo
          *ngFor="let cert of certificacionList"
          [obj_cert]="cert"
          (onDeleteCert)="deleteCertificacion(cert)"
          (onGuardarCert)="guardar(cert)"
        >
        </app-certificacion-modulo>
      </ul>
    </div>
  </div>
</div>
