<!-- Licencias y certificaciones-->
<div class="card mat-card">
  <div id="Licencias">
    <div class="card-titles">
      <h2>{{ titulo }}
        <!-- BTN AGREGAR-->
        <app-btn-add 
          *ngIf="isAdmin" 
          data-bs-toggle="modal" 
          data-bs-target="#newCert">
        </app-btn-add>
      </h2>
    </div>

    <!-- FORMULARIO para agregar... -->
    <app-add-certificacion (onAddCert)="addCert($event)"></app-add-certificacion>

    <div>
      <ul id="ulLic" class="items-list">
        <!-- Modulo Certificacion-->
        <app-certificacion-modulo
          *ngFor="let cert of certificacionList"
          [obj_cert]="cert"
          (onDelete)="borrarCertificacion(cert)"
          (onSave)="saveCertificacion(cert)"
        ></app-certificacion-modulo>
      </ul>
    </div>
  </div>
</div>
