  <!-- Modal -->
  <div class="modal fade" id="newCert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nueva Certificacion:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="foto" placeholder="Logo:" [(ngModel)]="logo">
              <label for="foto">Logo:</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="titulo" placeholder="Titulo:" [(ngModel)]="titulo">
              <label for="titulo">Titulo:</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="entidad" placeholder="Entidad:" [(ngModel)]="entidad">
              <label for="entidad">Entidad:</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="fecha" placeholder="Fecha:" [(ngModel)]="fecha">
              <label for="fecha">Fecha:</label>
            </div>           
           
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="descripcion" placeholder="Descripcion:" [(ngModel)]="descripcion">
              <label for="descripcion">Descripcion:</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Cerrar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSubmit()">Guardar Cambios</button>
        </div>
      </div>
    </div>
  </div>