<!-- Proyectos -->
<div class="card mat-card">
    <div id="Proyectos">
        <div class="card-titles">
            <h2>Proyectos</h2>
        </div>
        <div> 
            <ul class="items-list">
                <li class="card mat-card bor" *ngFor="let pro of proyectosList" >
                    <!-- Btn_edit -->
                    <app-btn-edit></app-btn-edit>
                    <div class="data-container ">
                        
                        <div class="list-info" style="display:inline; text-align:center">
                            <div><h3>{{pro.titulo}}</h3></div>
                            <div>
                                <p>{{pro.fecha}}</p>
                            </div>
                            <div>
                                <p>{{pro.descripcion}}</p>
                            </div>
                            <div>
                                <a href="">{{pro.link}}</a>
                            </div>
                        </div>
                        <div class="logo-image-container" >
                            <img [src]="pro.logo" alt="proyecto1">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
  </div>