<!-- Proyectos -->
<div class="card mat-card">
  <div id="Proyectos">
    <div class="card-titles">
      <h2>Proyectos</h2>
      <app-btn-add
        text="{{ showAddPro ? 'Close' : 'Add' }}"
        color="{{ showAddPro ? 'red' : 'green' }}"
        (btnClick)="toggleAddPro()"
      >
      </app-btn-add>
    </div>

    <app-add-proyecto 
        (onAddPro)="addPro($event)"
    ></app-add-proyecto>

    <div>
      <ul class="items-list">
        <!-- Modulo Proyectos -->
        <app-proyecto-modulo
        *ngFor="let proy of proyectoList" 
        [obj_pro]="proy"
        (onDeletePro)="deleteProyecto(proy)"
        (onGuardarPro)="guardar(proy)"
        >
        </app-proyecto-modulo>
      </ul>
    </div>
  </div>
</div>
