<!-- Proyectos -->
<div class="card mat-card">
  <div id="Proyectos">
    <div class="card-titles">
      <h2>{{ titulo }}
        <!-- BTN AGREGAR-->
        <app-btn-add
          *ngIf="isAdmin"
          data-bs-toggle="modal" 
          data-bs-target="#newProyecto">
        </app-btn-add>
      </h2>
    </div>

    <!-- FORMULARIO para agregar... -->
    <app-add-proyecto (onAddPro)="addPro($event)"></app-add-proyecto>

    <div>
      <ul class="items-list">
        <!-- Modulo Proyectos -->
        <app-proyecto-modulo
          *ngFor="let proy of List" 
          [obj_pro]="proy"
          (onDelete)="borrarProyecto(proy)"
          (onSave)="saveProyecto(proy)"
        ></app-proyecto-modulo>
      </ul>
    </div>
  </div>
</div>
