<div class="card mat-card">
    <div id="skills">
        <div class="card-titles">
            <h2>Hard &amp; Soft Skills</h2>
            
        </div>
        <div> 
            <ul id="ulSkill">
                <li *ngFor="let skl of skillList" class="bor">
                    
                    <div class="Skill-Titulo">
                        <!-- Btn_edit -->
                        <app-btn-edit [set_link]="skl.id"></app-btn-edit>{{skl.titulo}}
                    </div>
                    <div class="progress Skill-Barra">
                        <div 
                            class="progress-bar progress-bar-success" 
                            role="progressbar" 
                            aria-valuenow="skl.val" 
                            aria-valuemin="0" 
                            aria-valuemax="100" 
                            style="width: {{skl.val}}%"
                            >{{skl.val}}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>