<div class="card mat-card">
  <div id="skills">
    <div class="card-titles">
      <h2>{{titulo}}</h2>

      <!-- BTN AGREGAR-->
      <app-btn-add
        text="{{ showAddSkl ? 'Close' : 'Add' }}"
        color="{{ showAddSkl ? 'red' : 'green' }}"
        (btnClick)="toggleAddSkl()"
      >
      </app-btn-add>
    </div>

    <!-- FORMULARIO para agregar... -->
    <app-add-skill (onAddSkl)="addSkl($event)"></app-add-skill>

    <div>
      <ul id="ulSkill">
        <app-skill-modulo 
            *ngFor="let sk of List"
            [obj_sk]="sk"
            (onDelete)="borrarSkill(sk)"
            (onSave)="saveSkill(sk)"
            ></app-skill-modulo>
      </ul>
    </div>
  </div>
</div>
