<li class="bor">
  <div class="container">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <!-- Btn_edit -->
      <app-btn-edit
        *ngIf="isAdmin"
        [set_link]="obj_cert.id"
        (set_inpvisible)="mostrar($event)">
      </app-btn-edit>

      <!-- Btn_delete -->
      <app-btn-delete
        *ngIf="isAdmin"
        (click)="tranferIdDelete(obj_cert)">
      </app-btn-delete>
    </div>
   
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 logo-exp">
          <div class="logo-image-container centrado-porcentual"><img [src]="obj_cert.logo" /></div>
        </div>
        <div class="col-xs-12 col-sm-8 list-info">
          <h3 class="Licencia_Titulo">{{ obj_cert.titulo }}</h3>
          <div class="Licencia_Entidad"><p>{{ obj_cert.entidad }}</p></div>
          <div class="Licencia_Fecha"><p>{{ obj_cert.fecha }}</p></div>
          <div class="Licencia_Descripcion"><p>{{ obj_cert.descripcion }}</p></div>
        </div>
        <!--Formulario para editar Certificaciones-->
        <form>
          <div class="card" *ngIf="inp_visible">
            <div class="card-body">
              <div class="mb-3">
                <label for="inp_lg" class="form-label">Logo:</label>
                <input class="form-control" id="inp_lg" type="text" [formControl]="inplogo"  />
              </div>
              <div class="mb-3">
                <label for="inptitulo" class="form-label">Titulo:</label>
                <input class="form-control" id="inptitulo" type="text" [formControl]="inptitulo"  />
              </div>
              <div class="mb-3">
                <label for="inpentidad" class="form-label">Entidad:</label>
                <input class="form-control" id="inpentidad" type="text" [formControl]="inpentidad"  />
              </div>
              <div class="mb-3">
                <label for="inpfecha" class="form-label">Fecha:</label>
                <input class="form-control" id="inpfecha" type="text" [formControl]="inpfecha"  />
              </div>
              <div class="mb-3">
                <label for="inpdescripcion" class="form-label" >Descripcion:</label>
                <input class="form-control" id="inpdescripcion" type="text" [formControl]="inpdescripcion"  />
              </div>
              <button [disabled]="inptitulo.invalid" class="btn btn-success" (click)="guardar(obj_cert)">GUARDAR</button>
              <button class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</li>
