<li class="bor">
  <div class="container">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <!-- BTN EDITAR... -->
      <app-btn-edit *ngIf="isAdmin" [set_link]="obj_cert.id" (click)="openModal()"></app-btn-edit>
      
      <!-- BTN BORRAR... -->
      <app-btn-delete *ngIf="isAdmin" (click)="tranferIdDelete(obj_cert)"></app-btn-delete>
    </div>

    <!-- LISTA MODULOS (Imprime) -->
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 logo-exp">
          <div class="logo-image-container centrado-porcentual"><img [src]="obj_cert.logo" /></div>
        </div>
        <div class="col-xs-12 col-sm-8 list-info">
          <h3 class="Licencia_Titulo">{{ obj_cert.titulo }}</h3>
          <div class="Licencia_Entidad"><p>{{ obj_cert.entidad }}</p></div>
          <div class="Licencia_Fecha"><p>{{ obj_cert.fecha }}</p></div>
          <div class="Licencia_Descripcion"><p>{{ obj_cert.descripcion }}</p></div>
        </div>
      </div>
    </div>

    <!--FORMULARIO MODAL Editar... -->  
    <app-certificacion-form
      *ngIf="modalSwitch"
      [form_titulo]="titulo"
      [obj_in]="obj_cert"
      (obj_out)="guardar($event)">
    </app-certificacion-form>
  </div>
</li>
