<li class="bor">
  <div class="container">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <!-- BTN EDITAR... -->
      <app-btn-edit *ngIf="isAdmin" [set_link]="obj_sk.id" (click)="openModal()"></app-btn-edit>
      
      <!-- BTN BORRAR... -->
      <app-btn-delete *ngIf="isAdmin" (click)="tranferIdDelete(obj_sk)"></app-btn-delete>
    </div>

    <!-- LISTA MODULOS (Imprime) -->
    <div class="box">
      <div class="text-skill">{{ obj_sk.titulo | uppercase }}</div>
      <div class="container-skilll">
        <div class="skilll" [ngStyle]="{ width: obj_sk.val + '%', minWidth:'10%'}"> {{obj_sk.val + '%'}} </div>
      </div>
    </div>
    
    <!--FORMULARIO MODAL Editar... -->
    <app-skill-form 
      *ngIf="modalSwitch"
      [form_titulo]="titulo"
      [obj_in]="obj_sk"
      (obj_out)="guardar($event)">
    </app-skill-form>
  </div>
</li>
