<!-- HEADER-->
<div class="card mat-card" id="first-card">
  <div id="header">
    <div id="logo">
      <img src="assets/img/logo.jpg" alt="Logo" />
    </div>
    <!-- Iconos Redes -->
    <div id="redes">
      <a class="social-icon" href="#!"><i class="fab fa-linkedin-in"></i></a>
      <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>
      <a class="social-icon" href="#!"><i class="fab fa-github"></i></a>
      <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
       <app-btn-login *ngIf="!isLogeed"></app-btn-login> 
       <app-btn-logout *ngIf="isLogeed"></app-btn-logout>
    </div>
  </div>
</div>
