
* { font-size: 1rem; }
body{
	margin: 0;
	padding: 0;
	background-color: rgb(54, 54, 54);
}



/*HEADER*/
#header {
  border-radius: 15px;
  background-color: rgb(242, 242, 242);
}

#logo {
  display: inline-block;
  padding-left: 12px;
  float:left;
}

#logo img {
  display: block;
  border-radius: 12px 0 0 0;
}

#redes {
  display: inline-block;
  text-align: right;
  padding: 10px 25px 0 0;
  float: right;
}

#redes a {
  display: inline-block;
  padding: 3px;
}

#redes a i {
  font-size: 26px;
  color: rgb(61, 65, 70);
}

#login {
  margin-left: 15px;
  color: blue;
}

.mat-card {
  border-radius: 20px;
  margin: 25px 10px;
  padding: 20px;
  /*
    border-color: #0a66c2;
    */
  /* 
    border-color: whitesmoke;
    */
  background-color: rgb(242, 242, 242);
}

.mat-card#first-card {
  padding: 0;
}

div#profile-background {
  display: flex;
  z-index: 1;
  width: 100%;
}

div#profile-background img {
  display: flex;
  width: 100%;
  max-height: 500px;
}

.profile-image {
  border-radius: 50%;
  width: 152px;
  height: 152px;
  margin-top: -110px;
  z-index: 1;
}

#info-img {
  display: flex;
}

div#info-data {
  display: flex;
  justify-content: space-between;
}

div#info-data h1 {
  font-size: 1.8rem;
  display: inline;
  font-weight: 500;
  line-height: 1.25;
  word-wrap: break-word;
  word-break: break-word;
}

/* EXPERIENCIA*/
ul.items-list {
  list-style: none inside;
  padding-left: 0;
}
ul.items-list li {
  margin: 0 0 30px 0;
}
.centrado-porcentual {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
ul.items-list li div.container div.row div.logo-exp div.logo-image-container {
  display: inline-flex;
  justify-content: center;
  min-height: 100px;
  width: 180px;
  max-width: 100%;
  background-color: silver;
}
ul.items-list
  li
  div.container
  div.row
  div.logo-exp
  div.logo-image-container
  img {
  width: 100%;
}
.bor {
  border: 1px solid black;
  /* background-color: white; */
  border-radius: 20px;
  overflow: hidden;
  padding: 10px 0;
}
ul.items-list li div.container div.row div.list-info div {
  margin-bottom: 6px;
}
ul.items-list li div.container div.row div.list-info div p {
  margin: 0;
}

/* PROYECTOS */
ul.items-list li div.data-container {
  display: inline-block;
  min-height: 180px;
  width:100%;
  text-align: center;
}

ul.items-list li div.data-container div.logo-image-container {
  display: inline-flex;
  justify-content: center;
  min-height: 100px;
  width: 180px;
  max-width: 400px;
}

ul.items-list li div.data-container div.logo-image-container img {
  width: 100%;
}

ul.items-list li div.data-container div.list-info {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 850px;
}

ul.items-list li div.data-container div.list-info p {
  margin: 0;
}

ul.items-list li div.data-container div.list-info div {
  padding-bottom: 5px;
}

/*SKILL*/

.progress{
    overflow:visible;
    border-radius:0.25rem;
}

.progress-bar{
   border-radius:0.25rem;
}

div#skills div ul{
    width:90%;
}

div#skills div ul li {
  text-align: center;
  list-style: none;
  margin-bottom: 5px;
}

div#skills div ul li div {
  /* height: 21px; */
}

.Skill-Titulo {
    min-width: 35%;
    height:30px;
}

.Skill-Barra {
  display: inline-block;
  width: 60%;
}

.Skill-Barra-Alto {
  height:30px;
  
}


/* LICENCIAS*/
div#Licencias
  div
  ul
  li
  div.container
  div.row
  div.logo-exp
  div.logo-image-container {
  display: inline-flex;
  justify-content: center;
  min-height: 60px;
  width: 60px;
  max-width: 100%;
  background-color: silver;
}

div#Licencias
  div
  ul
  li
  div.container
  div.row
  div.logo-exp
  div.logo-image-container
  img {
  width: 100%;
}


