<li class="bor tarea">
  <div class="container">
    <div class="d-grid gap-2 d-flex justify-content-md-end">
      <!-- BTN EDITAR... -->
      <app-btn-edit *ngIf="isAdmin" [set_link]="obj_exp.id" (click)="openModal()"></app-btn-edit>
      
      <!-- BTN BORRAR... -->
      <app-btn-delete *ngIf="isAdmin" (click)="tranferIdDelete(obj_exp)"></app-btn-delete>
    </div>

    <!-- LISTA MODULOS (Imprime) -->
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 logo-exp">
          <div *ngIf=retrievedImage class="logo-image-container centrado-porcentual">
            <img [src]="retrievedImage" />
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 list-info">
          <div><h3>{{ obj_exp.titulo }}</h3></div>
          <div class="cargo">
            <p>{{ obj_exp.cargo }}</p> 
            <p>{{ obj_exp.jornada }}</p>
          </div>
          
          <div class="tiempo"><p>{{ obj_exp.tiempo }}</p></div>
          <div class="direccion"><p>{{ obj_exp.direccion }}</p></div>
          <div class="descripcion"><p>{{ obj_exp.descripcion }}</p></div>
        </div>
      </div>
    </div>

    <!--FORMULARIO MODAL Editar... -->     
    <app-experiencia-form
      *ngIf="modalSwitch"
      [form_titulo]="titulo"
      [obj_in]="obj_exp"
      (obj_out)="guardar($event)">
    </app-experiencia-form>
  </div>
</li>
